<div class="container mt-5 text-center">
  <form id="search-form" class="row text-center">
    <div class="col-10">
      <input id="search-input" type="text" class="form-control" placeholder="Find movies">
    </div>
    <div class="col-2">
      <input type="submit" class="btn btn-primary w-100" value="Search">
    </div>
  </form>

  <div class="container text-center">
    <ul data-controller="movie" id="results" class="list-inline"></ul>
  </div>
</div>
